* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  clear: both;
  box-sizing: border-box;
}

:root {
  --color-gray-900: 15 23 42;
  --color-gray-200: 226 232 240;
}

// .dark {
//   --tw-text-opacity: 1;
//   color: rgb(var(--color-gray-200) / var(--tw-text-opacity));
// }

body {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-gray-900)/var(--tw-bg-opacity));
}